* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:#dedede;
}

header {
    text-align: center;
    color: antiquewhite;
    margin: 0 0 10px 0;
    padding: 2%;
    background-color: #352d39;
}

h1 {
    margin: 0;
    padding: 10px;
}

p {
    margin: 0;
    padding: 10px;
}

.form {
    width: 40%;
    margin: 30px auto auto auto;
    padding: 20px;
    text-align: center;
    border-radius: 22px;
    background: #dedede;
    box-shadow: 6px 6px 25px #bdbdbd, -6px -6px 25px #ffffff;
}

.form input {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: 6px 6px 25px #bdbdbd, -6px -6px 25px #ffffff;
    width: 100%;
    height: 100px;
    margin: 5px auto 25px;
}

.button-div {
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.button {
    font-size: 2rem;
    display: inline-block;
    border-radius: 22px;
    background: #dedede;
    box-shadow: 6px 6px 25px #bdbdbd, -6px -6px 25px #ffffff;
    padding: 20%;
    cursor: pointer;
}

#plus {
    grid-row: span 2;
    display: grid;
    align-content: center;
}

#zero {
    grid-column: span 2;
}
